*{
    margin:0px;
}
.left-lan {
    background-color: rgba(211, 211, 211, 0.279); 
    height:96vh;
    width:150px;
    backdrop-filter:blur(10px);
    margin:5px;
    border:1px solid black;
    border-radius: 10px;
    box-shadow:2px 2px 5px lightgray;
    background-size: cover;
    text-align: center;
}


body {
    margin:0px;
    background-image:https://api.sunweihu.com/bing/bing.php
}

.logo {
    width:154px;
    height:55px;
    margin-top:10px;
    margin-bottom:10px;
}

.feature {
    width:100px;
    height:100px;
    margin-top:20px;
    margin-bottom:20px;
}
