.left-lan {
    background-color: rgba(211, 211, 211, 0.279); 
    height:100vh;
    width:150px;
    backdrop-filter:blur(5px);
    margin:5px;
    border:1px solid black;
    text-align:center;
    border-radius: 10px;
    box-shadow:2px 2px 5px lightgray;
    background-size: cover;
}

body {
    margin:0px;
    background:url(https://go.fuyeor.com/ran/pic);
    background-size:cover;
}

.logo {
    width:154px;
    height:55px;
    margin-top:10px;
    margin-bottom:10px;
}

.feature {
    width:150px;
    height:150px;
    margin-top:20px;
    margin-bottom:20px;
}
